div {
    color: white;
}

ul {
    width: 7rem;
    background-color: black;
    list-style: none;
    text-align: left;
    padding-left: 0;
}

li {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

li:hover {
    background-color: orangered;
}

.element {
    position: relative;
}

.element>ul {
    display: none;
}

.element:hover>ul {
    display: block;
}

.element-list {
    position: absolute;
    top: 0;
    left: 7rem;
}